#h{
    color: #337AB7;
}
label{
  color: #999;
  font-size: 18px;
  padding: 10px;
}
input {
  font-size: 14px;
  padding: 10px;
  width: 300px;
  border: none;
  border-bottom: 1px solid #ccc;
}
.btn{
    display: inline-flex;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    position: relative;
    font-size: 20px;
    line-height: 20px;
    padding: 12px 30px;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase; 
    font-family: 'Roboto Condensed', Тahoma, sans-serif;
    background: #337AB7;
    cursor: pointer; 
    border: 2px solid #BFE2FF;
    overflow: hidden;
    z-index: 1;
}
.btn:hover,
.btn:active,
.btn:focus {
    color: #FFF;
}
.btn:before,
.btn:after {
    content: '';
    position: absolute;
    top: 50%;
    width: 20px;
    height: 100%;
    background-color: #1C4B73;
    z-index: -1;
}
.btn:before {
    left: -20px;
    transform: translate(-50%, -50%);
}
.btn:after {
    right: -20px;
    transform: translate(50%, -50%);
}
.btn:hover:before,
.btn:active:before,
.btn:focus:before {
    animation: from-left 0.5s both;
}
.btn:hover:after,
.btnn:active:after,
.btn:focus:after {
    animation: from-right 0.5s both;
}
@keyframes from-right {
    0% {
        right: -20px;
    }
    50% {
        right: 50%;
        width: 20px;
    }
    100% {
        right: 50%;
        width: 100%;
    }
}
@keyframes from-left {
    0% {
        left: -20px;
    }
    50% {
        left: 50%;
        width: 20px;
    }
    100% {
        left: 50%;
        width: 100%;
    }
}