<html>
 
<head>
    <title>URL Shortener</title>
    <link rel="stylesheet" type="text/css" href="../static/css/8.css"/>
</head>
 
<body>
    <div class="input" align="center">
        <h1 id="h">URL Shortener</h1>
        <form class="form-input" method="post" action="/">
            <label for="input_url" class="label-url">Input long URL: </label>
            <input type="url" id="input_url" name="long_url" class="input-url" required autofocus /><br />
            <a href="get_short_url"></a><input type="submit" class="btn" value="Get short URL" />
        </form>
        {% if short_url %}
        <a href=short_url>{{ short_url }}</a>
        {% endif %}
    </div>
    </div>
</body>
 
</html>